/* RESET */
html, body {
    margin:0;
    padding:0;
    }

/*Root CSS */
html{
    padding: 0;
    border: 0;
}
body{
    font-family: montserrat;
    background-color: #363636;
}
/* Title Page */
#nameTag {
    display:flex;
    flex-wrap:wrap;

}
.nameTagLetter {
    font-size: 19vmin;
    margin: 0;
    display:inline;
    font-weight: bold;
    white-space:pre;
}
.nameTagLetterSmall {
    font-size: 5vmin;
    margin: 0;
    display:inline;
    font-weight: bold;
    white-space:pre;
}
.nameTag1{
    display: flex;
    flex-wrap: nowrap;
}
.nameTag2{
    display: flex;
    flex-wrap: nowrap;
}
.NameCase{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #19e68c;
    width: 80vmin;
    padding-left: 4vmin;
}
.NameCase2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}


.SectionMain{
    
}
.coolThingBox{
    width:300px;
    height:300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@keyframes AnimateRight {
    0%{
        left:0px;
    }
    50%{
        left:120px;
    }
    100%{
        left:120px;

    }
  }
  
.LeftPane:hover .coolThing1{
    animation-name: AnimateRight;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
@keyframes AnimateLeft {
    0%{
        right:0px;
    }
    50%{
        right:120px;
    }
    100%{
        right:120px;
    }
  }

.LeftPane:hover .coolThing3{
    animation-name: AnimateLeft;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
}
@keyframes changeColor{
    0%{background-color: #4a4a4a;}
    25%{color:white;}
    50%{color:black;}
    100%{background-color: #cacfce;color:black;}
}
@keyframes changeColorProject{
    0%{background-color: #4a4a4a;}
    100%{background-color: #666969;}
}
.LeftPane:hover{
    animation: changeColor 2s ease-out forwards;
}
.RightPane:hover{
    animation: changeColor 2s ease-out forwards;
}

.coolThing1{
    position:relative;
    width: 0px;
    height: 0px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid lightblue; 
}

.coolThing2{
    position:relative;
    width: 0px;
    height: 0px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-top: 80px solid red;
    
}
.coolThing3{
    position:relative;
    width: 0px;
    height: 0px;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid gray;

}
.LeftPane{
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;

    padding: 3em;
    background-color: #4a4a4a;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1em;
    
    color: #ffff;
    border: 0px solid transparent;
    border-radius: 1vh;}
.RightPane{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 1em;

    padding: 3em;
    background-color: #4a4a4a;
    color: #ffff;
    border: 0px solid transparent;
    border-radius: 1vh;
}
.FullPane{
    display: flex;
    flex-direction: row;
    justify-content:center;
    padding:1vh;
    padding-bottom:25vh;
    margin:auto;
    max-width: 100%;
    flex-wrap: wrap;
}
.FullPane h4{
    font-size: small;
}
.FullPane h5{
    font-size:small;
}
.FullPane p{
    font-size: small;
}
.FullPane .indentedParagraph{
    padding-left:1em;
}


/* Projects display area   */


.Projects{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.projectPane{
    display: flex;
    flex-direction: row;
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 7%;
    
}
.projectPaneLeft{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2vw 1vw 2vw 5vw;
    background-color: #4a4a4a;
    color: #ffff;
    border: 0px solid transparent;
    border-radius: 1vh 0px 0px 1vh;
}
.projectPaneRight{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 3vw 0 3vw;
    background-color: #4a4a4a;
    color: #ffff;
    border: 0px solid transparent;
    border-radius: 0px 1vh 1vh 0px;
    width: 20%
}
.projectPaneLeft:hover{
    animation: changeColorProject 2s ease-out forwards;
}
.projectPaneRight:hover{
    animation: changeColorProject 2s ease-out forwards;
}
#ProjectTitle {
    font-size: 4vh;
    text-decoration: none;
}
.projectPane a:link{
    color: #19e68c;
}
.projectPane a:visited{
    color: #19e68c;
}
.fa-clipboard-list{
    color: #19e68c;
}
.inLineIcon{
    font-size:2vh;
    display: inline;
}
.projectPaneRight a{
    font-size: calc(2vh*3);
    display:flex;
    flex-direction:row;
    justify-content: center;
}



/* icons */
.fa:hover {
    opacity: 0.7;
}
.fa {
    padding: 2vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 3vh;
    width: 5vh;
    text-align: center;
    text-decoration: none;
    margin: 0vh 1vh;
  }
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-github {
    background: black;
    color: white;
  }
  .fa-envelope {
    background: #2eb6f2;
    color: white;
  }
  .socials{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top:5vh;
    padding-bottom:5vh;
    background-color: rgb(33, 33, 34);
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  /* scroll */
  html.sr .load-hidden {
    visibility: hidden;
}
  